html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    /*box-sizing: border-box; !* include padding/border in total width/height calculations *!*/

}

body {
    background: rgb(24, 51, 75);
    /*background: linear-gradient(0deg, rgba(73,136,223,1) 23%, rgba(125,190,241,1) 32%);*/
    /*background-attachment: fixed;*/
    transition: background-color 5s linear;
}

::selection {
    background-color: #15c198;
}

a:link {
    text-decoration: none;
    transition: all .3s ease;
}

a:visited {
    color: #555;
}

a:hover {
    color: #15c198;
}

a:active {
    color: #15c198;
}

header {
    display: flex;
    /*align-items: center;*/
    height: 10%;
    background: #212529;
    color: #fff;
    box-shadow: 0 5px 30px 5px rgba(53,81,103,.5);
    transition: all 2s ease;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.body-container {
    display: flex;
    justify-content: center;
    animation-duration: 5s;
    animation-name: fadeIn;
}

.left-content {
    flex: 1;
    width: 650px;
    font-family: sans-serif;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    margin: 10% 2.5% 5% 10%;    /*top right bottom left.*/
    text-align: center;
}

.left-content h1 {
    font-family: 'Asap', sans-serif;
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.left-content p {
    font-weight: bold;
    font-size: 18px;
}

/*@keyframes slideIn {*/
/*    0% { transform: translateX(100%)}*/
/*    100% { transform: translateX(0%)}*/
/*}*/

.right-content {
    flex: 1;
    /*overflow: auto;*/
    min-height: 500px;
    width: 650px;
    margin: 5% 10% 5% 2.5%;
    padding: 1%;
    background: #212529;
    color: #fff;
    box-shadow: 10px 10px 30px 5px rgba(53,81,103,.75); /* x,y,blur,spread,color */
    transition: all 2s ease;
}

.right-content h3 {
    text-align: center;
}
footer {
    width: 100%;
    background: #fff;
    /*position: fixed;*/
    /*bottom: 0;*/
}

@media screen and (max-width: 1000px) { /*(max-width: 1000px) and (min-width: 500px) */
    .body-container {
        justify-content: center;
        flex-flow: column wrap;
    }
    .left-content, .right-content {
        margin: 0 auto;
        text-align: center;
    }
}

.left-content ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.left-content li {
    display: inline;
    filter: drop-shadow(1px 1px 1px #000);
}

button {
    padding: 0;
    margin: 0;
    width:75px;
    height:35px;
    border: 1px solid white;
    transition: all .4s ease;
    font-weight: bold;
    font-size: 12px;
    background-image: linear-gradient(45deg, rgba(73,136,223,1) 23%, rgba(125,190,241,1) 32%);
    background-size: 200% 100%;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    /*transform: perspective(1500px) rotateY(45deg);*/
}

button:hover {
    background-position: 100% 0;
    /*transform: perspective(3000px) rotateY(5deg);*/
}

